<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>When Am I.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>81249BFE1E31985000C73B1A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>81249C121E31985000C73B1A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>81249C1D1E31985000C73B1A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
